.App {
  text-align: center;
}

.App-header {
  /* background-color: rgb(115, 112, 204); */
  background-color: rgb(243, 214, 25);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.div__category {
  font-size: calc(16px + 1vmin);
  font-family: cursive;
  padding: 20px;
  color: rgb(115, 112, 204);
}

.div__question {
  font-size: calc(16px + 1vmin);
  padding: 20px;
}

.div__answers {
  padding: 20px;
}

button {
  background: white;
  border-radius: 20% / 10%;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
}

button:hover {
  background: rgb(115, 112, 204);
  border-radius: 20%;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px
}

#logo-img {
  border-radius: 20% / 10%;
  margin: 20px;
}

.div__correct {
  height: 100px;
}